<div class="table-container">
  <mat-form-field appearance="fill">
    <mat-label>Filtrar Times</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Digite para filtrar">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
      <td mat-cell *matCellDef="let element" [attr.data-par]="element.codigo % 2 === 0">
        {{element.codigo}}
      </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let element" [attr.data-par]="element.codigo % 2 === 0">
        {{element.nome}}
      </td>
    </ng-container>

    <ng-container matColumnDef="anoFundacao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ano Fundação </th>
      <td mat-cell *matCellDef="let element" [attr.data-par]="element.codigo % 2 === 0">
        {{element.anoFundacao}}
      </td>
    </ng-container>

    <ng-container matColumnDef="estadio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estádio </th>
      <td mat-cell *matCellDef="let element" [attr.data-par]="element.codigo % 2 === 0">
        {{element.estadio}}
      </td>
    </ng-container>

    <ng-container matColumnDef="serie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Série </th>
      <td mat-cell *matCellDef="let element" [attr.data-par]="element.codigo % 2 === 0">
        {{element.serie}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
